<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>DeviceProperties</key>
		<dict>
			<key>Add</key>
			<dict>
				<key>PciRoot(0x0)/Pci(0x2,0x0)</key>
				<dict>
					<key>AAPL,ig-platform-id</key>
					<data>
					BAAnWQ==
					</data>
					<key>device-id</key>
					<data>
					FlkAAA==
					</data>
					<key>framebuffer-con1-enable</key>
					<data>
					AQAAAA==
					</data>
					<key>framebuffer-con1-type</key>
					<data>
					AAgAAA==
					</data>
					<key>framebuffer-patch-enable</key>
					<data>
					AQAAAA==
					</data>
				</dict>
			</dict>
		</dict>
		<key>Kernel</key>
		<dict>
			<key>Patch</key>
			<array>
				<dict>
					<key>Base</key>
					<string></string>
					<key>Comment</key>
					<string>KBL-DVMTpatch-10.15-10.15.1-10.15.2-10.15.3 (Enable 4K UHD HDMI/DisplayPort Output)</string>
					<key>Count</key>
					<integer>0</integer>
					<key>Enabled</key>
					<true/>
					<key>Find</key>
					<data>
					D4KnAwAA
					</data>
					<key>Identifier</key>
					<string>com.apple.driver.AppleIntelKBLGraphicsFramebuffer</string>
					<key>Limit</key>
					<integer>0</integer>
					<key>Mask</key>
					<data>
					</data>
					<key>MaxKernel</key>
					<string>19.3.0</string>
					<key>MinKernel</key>
					<string></string>
					<key>Replace</key>
					<data>
					D4IAAAAA
					</data>
					<key>ReplaceMask</key>
					<data>
					</data>
					<key>Skip</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Base</key>
					<string></string>
					<key>Comment</key>
					<string>KBL-DVMTpatch-10.15.4 (Enable 4K UHD HDMI/DisplayPort Output)</string>
					<key>Count</key>
					<integer>0</integer>
					<key>Enabled</key>
					<true/>
					<key>Find</key>
					<data>
					D4KPAwAA
					</data>
					<key>Identifier</key>
					<string>com.apple.driver.AppleIntelKBLGraphicsFramebuffer</string>
					<key>Limit</key>
					<integer>0</integer>
					<key>Mask</key>
					<data>
					</data>
					<key>MaxKernel</key>
					<string></string>
					<key>MinKernel</key>
					<string>19.4.0</string>
					<key>Replace</key>
					<data>
					D4IAAAAA
					</data>
					<key>ReplaceMask</key>
					<data>
					</data>
					<key>Skip</key>
					<integer>0</integer>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
