<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Boot</key>
	<dict>
		<key>Arguments</key>
		<string>nv_disable=1 dart=0 -cdfon -disablegfxfirmware -igfxnohdmi lilucpu=8</string>
		<key>DefaultVolume</key>
		<string>LastBootedVolume</string>
		<key>Timeout</key>
		<integer>2</integer>
	</dict>
	<key>Comment</key>
	<string>Patches specific to the ThinkPad X1 Carbon 6th Gen</string>
	<key>Devices</key>
	<dict>
		<key>Properties</key>
		<dict>
			<key>PciRoot(0)/Pci(0x02,0)</key>
			<dict>
				<key>AAPL,ig-platform-id</key>
				<data>
				AAAWGQ==
				</data>
				<key>AAPL00,override-no-connect</key>
				<data>
				AP///////wAGEPKcAAAAABoVAQSVGg54Au8Fl1dUkici
				UFQAAAABAQEBAQEBAQEBAQEBAQEBaV4AoKCgKVAwIKUA
				Na4QAAAaAAAA/ABDb2xvciBMQ0QKICAgAAAA/gBMRyBE
				aXNwbGF5CiAgAAAA/gBMUDE0MFFIMi1TUEIxAKo=
				</data>
				<key>device-id</key>
				<data>
				FhkAAA==
				</data>
				<key>framebuffer-con1-enable</key>
				<integer>1</integer>
				<key>framebuffer-con1-pipe</key>
				<data>
				EgAAAA==
				</data>
				<key>framebuffer-con1-type</key>
				<data>
				AAgAAA==
				</data>
				<key>framebuffer-fbmem</key>
				<data>
				AACQAA==
				</data>
				<key>framebuffer-patch-enable</key>
				<integer>1</integer>
				<key>framebuffer-stolenmem</key>
				<data>
				AAAwAQ==
				</data>
			</dict>
			<key>PciRoot(0)/Pci(0x1f,3)</key>
			<dict>
				<key>layout-id</key>
				<integer>11</integer>
			</dict>
		</dict>
	</dict>
	<key>GUI</key>
	<dict>
		<key>EmbeddedThemeType</key>
		<string>Dark</string>
		<key>Theme</key>
		<string>embedded</string>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>ROM</key>
		<string>UseMacAddr0</string>
	</dict>
</dict>
</plist>
