<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>17G14019</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>VoodooRMI</string>
	<key>CFBundleIdentifier</key>
	<string>com.1Revenger1.VoodooRMI</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>VoodooRMI</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.1</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1.0.1</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>9F2000</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>17E189</string>
	<key>DTSDKName</key>
	<string>macosx10.13</string>
	<key>DTXcode</key>
	<string>0941</string>
	<key>DTXcodeBuild</key>
	<string>9F2000</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>RMIDevice</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.1Revenger1.VoodooRMI</string>
			<key>Configuration</key>
			<dict>
				<key>DisableWhileTypingTimeout</key>
				<integer>100</integer>
				<key>ForceTouchEmulation</key>
				<true/>
				<key>ForceTouchMinPressure</key>
				<integer>90</integer>
				<key>MinYDiffThumbDetection</key>
				<integer>200</integer>
				<key>TrackstickDeadzone</key>
				<integer>1</integer>
				<key>TrackstickMultiplier</key>
				<integer>20</integer>
				<key>TrackstickScrollMultiplierX</key>
				<integer>20</integer>
				<key>TrackstickScrollMultiplierY</key>
				<integer>20</integer>
			</dict>
			<key>IOClass</key>
			<string>RMIBus</string>
			<key>IOProbeScore</key>
			<integer>2910</integer>
			<key>IOPropertyMatch</key>
			<dict>
				<key>RMI4 Supported</key>
				<true/>
			</dict>
			<key>IOProviderClass</key>
			<string>RMITransport</string>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2020 1Revenger1. All rights reserved.</string>
	<key>OSBundleCompatibleVersion</key>
	<string>1.0.0</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOHIDFamily</key>
		<string>2.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>18.5</string>
		<key>com.apple.kpi.libkern</key>
		<string>18.5</string>
		<key>com.apple.kpi.mach</key>
		<string>18.5</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Console</string>
</dict>
</plist>
