/* ANCHOR Import Fonts */
@font-face {
  font-family: 'bluu';
  src: local('bluu'),
    url('/fonts/BluuNext/bluunext-bold-webfont.woff2') format('woff2'),
    url('/fonts/BluuNext/bluunext-bold-webfont.woff') format('woff'),
    url('/fonts/BluuNext/bluunext-bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* SECTION Colors */
:root>* {
  --md-primary-fg-color: #282F38;
  --md-primary-fg-color--light: #282F38;
  --md-primary-fg-color--dark: #232631;
}

/* ANCHOR Light Mode Colors */
[data-md-color-scheme="default"] {
  --md-typeset-a-color: #4051B5;
  --md-accent-fg-color: #4051B5;
}

/* ANCHOR Dark Mode Colors */
[data-md-color-scheme="slate"] {
  --md-default-bg-color: rgb(26, 28, 35);
  --md-default-bg-color--light: rgb(26, 28, 35, 0.54);
  --md-default-bg-color--lighter: rgb(26, 28, 35, 0.26);
  --md-default-bg-color--lightest: rgb(26, 28, 35, 0.07);
  --md-default-fg-color: #FDF0ED;
  --md-footer-bg-color: rgb(23, 27, 32, 0.87);
  --md-footer-bg-color-dark: rgb(67, 126, 199);
  --md-typeset-a-color: #689D6A;
  --md-accent-fg-color: #689D6A;
}

/* !SECTION */

/* ANCHOR Define Header Font */
h1,
h2,
h3,
.md-header__topic {
  font-family: "bluu", serif;
}

/* ANCHOR Reduce Margins */
.md-typeset h1 {
  margin: 0;
}

.md-typeset h2 {
  margin-top: 0.5em;
}

/* !SECTION Inherit from https: //github.com/privacyguides/privacyguides.org/blob/main/docs/assets/stylesheets/extra.css */
/* ANCHOR Button  */
.md-typeset .md-button {
  color: var(--md-typeset-a-color);
  background: none;
  border: 1px solid var(--md-typeset-a-color);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 1px 3px 0px, rgba(0, 0, 0, 0.05) 0px 1px 2px -1px;
}

.md-typeset .md-button--primary {
  color: white;
  background-color: var(--md-typeset-a-color);
  border-color: var(--md-typeset-a-color);
}

[data-md-color-scheme="slate"] .md-typeset .md-button--primary {
  color: var(--md-primary-bg-color);
}

.md-typeset .grid.cards> :is(ul, ol)>li:is(:focus-within, :hover),
.md-typeset .grid>.card:is(:focus-within, :hover) {
  /* Firefox */
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 1px 3px 0px, rgba(0, 0, 0, 0.05) 0px 1px 2px -1px;
  border-color: var(--md-accent-fg-color);
}

.md-typeset .grid.cards>:-webkit-any(ul, ol)>li:-webkit-any(:focus-within, :hover) {
  /* Webkit */
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 1px 3px 0px, rgba(0, 0, 0, 0.05) 0px 1px 2px -1px;
  border-color: var(--md-accent-fg-color);
}

/* ANCHOR Custom Recommendation Cards */
.md-typeset .admonition.recommendation,
.md-typeset details.recommendation {
  border: none;
  font-size: inherit;
}

.md-typeset .recommendation>.admonition-title,
.md-typeset .recommendation>summary {
  background-color: rgba(43, 155, 70, 0.0);
  border: none;
  padding-left: 0.6rem;
}

.md-typeset .recommendation>.admonition-title::before,
.md-typeset .recommendation>.admonition-title,
.md-typeset .recommendation>summary::before {
  display: none;
}

.md-typeset .recommendation img[align="right"],
.md-typeset svg[align="right"] {
  width: 150px;
}

.md-typeset .admonition.downloads,
.md-typeset details.downloads {
  border: none;
}

.md-typeset .downloads>.admonition-title,
.md-typeset .downloads>summary {
  background-color: rgba(43, 155, 70, 0.0);
  border: none;
  padding-left: 0.6rem;
}

.md-typeset .downloads>.admonition-title::before,
.md-typeset .downloads>.admonition-title,
.md-typeset .downloads>summary::before {
  background-color: var(--md-typeset-a-color);
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-arrow-down-circle-fill' viewBox='0 0 16 16'%3E%3Cpath d='M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z'/%3E%3C/svg%3E");
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-arrow-down-circle-fill' viewBox='0 0 16 16'%3E%3Cpath d='M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z'/%3E%3C/svg%3E");
}

.md-typeset .downloads>summary::after {
  right: auto;
}

/* !SECTION */

/* ANCHOR Correct navigation icon size */
.md-nav__link svg {
  width: 20px;
}


/* ANCHOR Un-sticky sidebar without JS */
.no-js .md-sidebar {
  align-self: auto;
}