<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DeviceProperties</key>
	<dict>
		<key>Add</key>
		<dict>
			<key>PciRoot(0x0)/Pci(0x2,0x0)</key>
			<dict>
				<key>AAPL00,override-no-connect</key>
				<data>
				AP///////wAwrq5AAAAAAAAbAQSQHxF44vvVplM0tiUO
				UFQAAAABAQEBAQEBAQEBAQEBAQEB5l8AoKCgQFAwIDUA
				gGghAAAYj2YAoKCgLVAwIDUAgGghAAAY22cAoKCgKVAw
				IDUAgGghAAAYMGUAoKCgMFAwIDUAgGghAAAYADc=
				</data>
				<key>DELETE ME</key>
				<string>64Hz is stable.</string>
				<key>DELETE ME 2</key>
				<string>65Hz causes minor artifacts.</string>
				<key>DELETE ME 3</key>
				<string>66Hz makes display goes crazy.</string>
				<key>DELETE ME 4</key>
				<string>You be more/less lucky with your specific display.</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
