<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>20A5384c</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>VoodooTrackpoint</string>
	<key>CFBundleIdentifier</key>
	<string>com.VoodooSMBus.VoodooTrackpoint</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>VoodooTrackpoint</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>12A8179i</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>11.0</string>
	<key>DTSDKBuild</key>
	<string>20A5343f</string>
	<key>DTSDKName</key>
	<string>macosx11.0</string>
	<key>DTXcode</key>
	<string>1200</string>
	<key>DTXcodeBuild</key>
	<string>12A8179i</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>VoodooTrackpoint</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.VoodooSMBus.VoodooTrackpoint</string>
			<key>IOClass</key>
			<string>VoodooTrackpoint</string>
			<key>IOProbeScore</key>
			<integer>200</integer>
			<key>IOPropertyMatch</key>
			<dict>
				<key>VoodooTrackpointSupported</key>
				<true/>
			</dict>
			<key>IOProviderClass</key>
			<string>IOService</string>
		</dict>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>10.11</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2020 VoodooSMBus. All rights reserved.</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOHIDFamily</key>
		<string>2.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>18.5</string>
		<key>com.apple.kpi.libkern</key>
		<string>18.5</string>
		<key>com.apple.kpi.mach</key>
		<string>18.5</string>
	</dict>
</dict>
</plist>
